*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Mulish;
}
/****sheared style****/

h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
h2{ 
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;   
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 35px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    color: #FFF;
}
/* **header*nav styles** */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0px auto;
        
}
nav > ul{
    display: flex;
    gap: 40px;
  }
  
 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    gap: 20px;
}
.logo-section{
    display: flex;
    justify-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.logo img{
    max-width: 100px;
    cursor: pointer;
}
.logo h2{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}
   
.logo h2 span{
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}
.menubar{
    font-size: 2rem;
    display: none;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    color:  #424247; 
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

nav ul li a:hover{   
    color:#FF5400;
}
/* ****header style end**** */
/* ****banner style start*** */
main{
    max-width: 85%;
    margin: 50px auto;
}
.banner-section{
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../Images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    gap: 20px;
    height: 500px;
}
.banner-container{
    text-align: center;
    color: #fff;
    padding: 50px  130px 0px;
    height: 265px;
}

.banner-container h1{
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 800;
}
.banner-container p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
}
.search-area{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row; 
    gap: 5px;
    height: 80px;  
    width: 100%; 
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}
form > input[type=text] , select {
    width: 20%;
    color: rgba(19, 19, 24, 0.50);
    background-color: #ffffff;
    border-radius: 8px;
    padding: 14px;
    border: 0;
    outline: 0;
    font-size: 1rem;
}

.btn-form{
    width: 20%;
    font-size: 1rem;
}
.fa-magnifying-glass{
    font-size: 1.4rem;
   

    
}


/* ****tours style start*** */

.tour-section{
    max-width: 100%;
    min-height: 500px;
    margin: 100px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.tour-text-container{
    width: 48%;
    height: 500px;
}
.tour-text-container *{
    margin-bottom: 17px;
     color: rgba(19, 19, 24, 0.70);;
}

.tour-text-container h2{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;   
}
.tour-text-container .tour-list{
    padding-left: 20px;

}

.tour-img{
    width: 48%;
    height: 500px;
}
.tour-img img{
    width: 100%;
   height: 500px;
}

/* ***tour style end*** */
/* ***destination style start** */
.destination{
    max-width: 100%;
    height: auto;
   
}
.destination-content{
    text-align: center;
    padding: 20px 130px;
}
.destination-grid{   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.gallery-box{
    width: 100%;
    height: 250px;
    position: relative;
    
}
.gallery-box h4{
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);

 
}
.gallery-box  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.box-1{
    grid-column: 1/7  ;
    
}

.box-2{
    grid-column: 7/13  ;
    
}
.box-3{
    grid-column: 1/5  ;
    
}

.box-4{
    grid-column: 5/10  ;
    
}
.box-5{
    grid-column: 10/13  ;
    
    
}

.box-6{
    grid-column: 1/6  ;
    
}
.box-7{
    grid-column: 6/13  ;
    
}
.img-text-center{
        transform: translate(-50%, -45%);
}
   


/* ***destination style end** */
/* *********why choose*********** */
.choose-option{
    max-width: 100%;
    margin: 100px auto;
}
.choose-container{
    text-align: center;
    padding: 0px 130px;
}

.choose-content h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 20px 0px;
}
  .choose{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

  }
  .choose-content{
    width: 45%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 15px;
}
.choose-content:hover{
    background-color: #29cdf618; 
}
  /* ******* why choose***** */

  /* *****deals & discount**** */
.deals-discounts{
    padding: 100px auto;
}
.deals-discounts-container{
    width: 60%;
    display: flex;
    flex-direction: row;
}
.deals-discounts-container h1{
color: #131318;
}
.deals-discounts-container p{
    color: #131318;
}


  /* *****deals & discount**** */

/* *****Perfect Place ******* */
.perfect place{
    max-width: 100%;
    margin: 0px auto;
    padding: 0px auto;

}
 .perfect .perfect-btn{
    margin-top: 50px;
    color: #fff;

}
.tour-video{
    width: 50%;
    height: 40%;
    background-color: #131318;
    border-radius: 16px;
   }
   .tour-video h2{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px; 
   transform: translate(15%, -680%);
   }
video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 18px;
    width: 100%;
}

/* ****perfect end** */
.news-letter{
    display: flex;
    gap: 50px ;
    justify-content: space-between;
    flex-direction: row;

}

.news-letter .news-letter-form{
    width: 50%;
    padding: 50px;
    border: 1px solid #FF5400;
    border-radius: 8px;
    height: 50%;
}
.news-letter .news-letter-form > input{
    padding: 20px 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background-color: rgba(19, 19, 24, 0.05);
}
.news-letter .news-letter-form > button{
    width: 100%;
    margin-top: 20px;
}
.news-letter .news-letter-image{
    width: 50%;
    position: relative;
}
.newsletter .newsletter-image img{
    width: 100%;
    height: 100%;
}
input::placeholder{
    color: #131318;
}
.news-letter .news-letter-image .save-up{
    width: 50%;
    background-color: #FF5400;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 25px 0 ; 
    transform: rotate(-23deg);
    position: absolute;
    left: 40%;
    top: 40%;
}
.news-letter .news-letter-image .save-up h2{
    color: #fff;
}


/* newsletter end */


footer{
    padding: 50px;
    margin-top: 0px;
    background-color: rgba(19, 19, 24, 0.05);   ;
}
.footer-content{
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
   .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;
   } 
   .footer-logo > h2 > span{
    color: #FF5400;
   }
   .footer-content > p{
    padding: 0 50px;
   }
   .footer-social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

   }
   .footer-social-icons i{
    color: #181513;
    font-size: 2.8rem;

   }

hr{
    border: 1px solid rgb(224, 224, 224);
}

/* ===========end=========== */
